h2 {
    color: gray;
}
table {
    width:100%;
}
th, td {
    padding: 5px;
    text-align: center;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color: #fff;
}

table#t01 > thead > tr:first-child > th {
    text-align: center;
    color: blue;
}

table#t01 th {
    color: black;
}
table#t01 tr:last-child td {
    text-align: center;
    color: white;
    background-color: red;
}